* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    /* font-family: lato light; */
    font-weight: 600;
    font-size: 16px;
  }
  
  
  a{
    text-decoration: none;
  }
  
  header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
  }
  
  .nav-area{
    list-style: none;
  }
  
  .nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
  }
  
  .nav-area li a{
    color:#0066cc;
  }
  
  .nav-area li a:hover{
    color: #23a8f2;
  }
  
  .btn-area{
    cursor: pointer;
    color: white ;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #0066cc;
    transition: transform 1s;
    transform: translateX(0) scale(0.9);
  }
  
  .btn-area:hover{
    background: #004a94;
    transform: translateX(10px) scale(1.0);
  }
  
  img.banner{
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
  
  .main-text{
    color: #0066cc;
    text-align: center;  
    font-size: 30pt;
    /* font-family: lato light; */
    margin: 40px;
  }
  
div{
  justify-content: center;
  padding-left: 865px;
  padding-bottom: 0cm;


}
  

img.boleto{
  height: 180px;
  width: 180px;
 

}

h1{
  text-align: center;  
  font-size: 20pt;
  font-weight: 600;
  padding-bottom: 30px;

}



section {
  display: inline-block;
  display: flex;
}


  
table{
 height:380px;
  width: 600px;
  padding-left: 100px;
  padding-right: 100px;
   margin: 0 auto;padding-bottom: 100px;
}


td  {
  border: solid #004a94 1px;
  height: 50px;
  padding: 10px;
  width: 50px;
  

}


th {
  border: solid #004a94 1px;
  height:50px;
  padding: 10px;
  width: 50px;


}

img.download{
  height: 40px;
  width: 40px;

}

.vencido{
color:red;

}


.pendente {
  color: coral;
 
}

  footer{
    background: #0066cc;  
    color: white;
    padding: 30px;
    display: flex;
    justify-content: end;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
  
  .footer-card{
    cursor: pointer;
    padding: 10px;
    text-align: center;
  }

  