* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  width: 100%;
  color: #3566cc;
  background-color: white;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  height: 100px;
}

img.logo {
  width: 100px;
  position: relative;
  right: 500px;
  bottom: 80px;
  z-index: 0;
}

li {
  display: inline-block;
  padding: 20px;
}