<!DOCTYPE html>
<html lang= "pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApêGo</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="shortcut icon" href="../public/images/favicon.ico"/>
</head>
<header>
    <img class="logo" src="../public/images/logo.svg" alt="">
        <nav>
            <ul class = "nav-area">
                <li><a href="#">HOME<a></a></li>
                <li><a href="#">QUEM SOMOS<a></a></li>
                <li><a href="#">SERVIÇOS<a></a></li>
                <li><a href="#">CONTATO<a></a></li>
            </ul>
        </nav>
    <a class="btn-area" href="#">Login &nbsp;<img src="../public/images/admin-icon.svg" width="17px" height="17px"></a>
</header>
    <hr color="#0066cc">
<main>
    <img class="banner" src="../public/images/banner1.jpg" alt="Banner ApeGo">
    
    <h1 class="main-text">Lorem Ipsum is simply dummy text of the printing and typesetting<br>
        industry. Lorem Ipsum has been the industry's standard dummy.
    </h1>

    <div class="advantage">
        <div class="item">
          
            <img src="../public/images/shield-icon-lightblue.svg" alt="Shield" width="120px" height="120px">
       
            <p>
              It is a long established fact that a reader.
            </p>
        </div>
        <div class="item">
            <img src="../public/images/admin-icon-lightblue.svg" alt="Admin" width="120px" height="120px">
            <p>
              It is a long established fact that a reader.
            </p>
        </div>
        <div class="item">
            <img src="../public/images/view-icon-lightblue.svg" alt="View" width="120px" height="120px">
            <p>
              It is a long established fact that a reader.
            </p>
        </div>

    </div>

</main>
<footer>
    <section class="flex-container">
    <div class="footer-card">
        <p>ApêGo - 2021 - Todos os direitos reservados.</p>
    </div>
    <div lass="footer-card">
        <p></p>
    </div>
    <div class="footer-card">
        <img href="https://facebook.com" src="../public/images/face-icon-white.svg" width="30px" height="30px" hspace="15px">
        <img href="https://instagram.com" src="../public/images/insta-icon-white.svg" width="30px" height="30px" hspace="15px">
    </div>
    </section>
</footer>
</body>
</html>