* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    width: 100%;
    color: #3566cc;
    background-color: white;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    height: 100px;
}

img.logo {
    width: 100px;
    position: relative;
    right: 500px;
    bottom: 80px;
    z-index: 0;
}

li {
    display: inline-block;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

div.aviso1 {
    background-color: #3565cc5b;
    z-index: -1;
    position: relative;
    text-align: center;
}

img.foto-quadra {
    width: 500px;
}

div.aviso2 {
    background-color: #3565cc5b;
    z-index: -1;
    position: relative;
    text-align: center;
}

img.foto-sala-de-festas {
    width: 500px;
}

div.aviso3 {
    background-color: #3565cc5b;
    z-index: -1;
    position: relative;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    background-color: #3566cc;
    width: 100%;
    padding: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

